body {
    background-color: #ffffff;
    color: #303030;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font: 16px sans;
	padding: 5px;
    line-height: 1.5;
}

code {
    background-color: #e0e0e0;
    font: 16px monospace;
}

.header {
}

.avatar {
	float: left;
}

.header h2 {
	float: left;
	margin-top: 12px;
	font-size: 18px;
}

/* Link list */
.header_links {
	float: right;
	list-style: none outside none;
	font-size: 14px;
}

.header_links li {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}

.header_links a {
	color: #808080;
	font-weight: bold;
	text-decoration: none;
}

.header_links a:hover {
	color: #303030;
	font-weight: bold;
	text-decoration: none;
}

.sec_title {
    background-color: #505050;
    border-bottom: 3px solid #c0d0c0;
    color: #f0f0f0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    clear: both;
}

.box {
    padding-bottom: 10px;
}

.box p {
    margin-left: 5%;
    text-indent: 1.33em;
}

.box ul {
    margin-left: 5%;
    padding-top: 10px;
}

.code_sample {
    margin-left: 5%;
    padding-left: 15px;
    border-left: 3px solid #c0d0c0;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.project_box {
    position: relative;
}

.project_info {
    width: 192px;
    float: left;
    margin-left: 20px;
}

.project_info img {
    border: 1px dotted grey;
    padding: 2px;
}

.project_details {
    margin-left: 230px;
    position: relative;
}

.sec_title a {
    color: #e0e8e0;
    text-decoration: none;
}

.sec_title a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}

.blog h2 {
    margin-left: 2%;
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px dotted lightgrey;
}

.blog video, img, audio {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 720px;
    display: block;
    padding: 5px;
    border: 1px dotted grey;
}

.video_description {
    text-align: center;
    font-style: italic;
    clear: both;
    padding: 5px;
}

.posted_date {
    float: right;
}

#plasmaArea {
    /*
    float: left;
    margin: 10px;
    */

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 20px;
    display: block;
    font: monospace;
    border: none;
    resize: none;
}
